<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">
      <img class="logo" src="./assets/vas.jpeg" alt="Vishwa Agro Services">
      <span>
        Vishwa Agro Services
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button [attr.disabled]="!!startTime" (click)="getTime('startTime')" expand="">
      {{startTime ? (startTime | date: 'd-MMM-yy, h:mm:ss a') : 'Click here to start'}}
    </ion-button>
    <ion-button [attr.disabled]="!!fieldTime" (click)="getTime('fieldTime')" expand="">
      {{fieldTime ? (fieldTime | date: 'd-MMM-yy, h:mm:ss a') : 'Click here when reached field'}}
    </ion-button>
    <ion-item>
      <ion-label position="floating">Name of the Farmer</ion-label>
      <ion-input placeholder="Enter farmer name" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Farmer mobile number</ion-label>
      <ion-input placeholder="Enter farmer mobile number"  type="number" [(ngModel)]="mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Crop Type</ion-label>
      <ion-input placeholder="Enter the crop name" [(ngModel)]="cropType"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Farmer land area</ion-label>
      <ion-input type="number" placeholder="Enter acres of farmers land" [(ngModel)]="landArea"></ion-input>
    </ion-item>
    <ion-button *ngIf="!latitude" (click)="getCurrentCoordinates()" expand="">
      Get Location
    </ion-button>
    <ion-card  *ngIf="latitude">
      <ion-card-header>
        <ion-card-title>Location Coordinates</ion-card-title>
        <ion-card-subtitle>Latitue : {{latitude}}</ion-card-subtitle>
        <ion-card-subtitle>Longitude : {{longitude}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <!-- <ion-list *ngIf="latitude">
      <ion-list-header>
        <ion-label>Location Coordinates</ion-label>
      </ion-list-header>
      <ion-item *ngIf="latitude">
        <ion-label>
          Latitue
        </ion-label>
        <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
      </ion-item>
      <ion-item *ngIf="longitude">
        <ion-label>
          Longitude
        </ion-label>
        <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
      </ion-item>
      <ion-item *ngIf="address">
        <ion-label>
          Address
        </ion-label>
        <ion-badge color="danger" slot="end">{{address}}</ion-badge>
      </ion-item>
    </ion-list> -->
    <ion-item>
      <ion-label position="floating">Pesticide Quantity</ion-label>
      <ion-input placeholder="Enter quantity of pesticide"  type="number" [(ngModel)]="pestQty"></ion-input>
    </ion-item>
    <ion-button [attr.disabled]="!!beforeSpray" (click)="getTime('beforeSpray')" expand="">
      {{beforeSpray ? (beforeSpray | date: 'd-MMM-yy, h:mm:ss a') : 'Click here before spraying'}}
    </ion-button>
    <ion-button [attr.disabled]="!!afterSpray" (click)="getTime('afterSpray')" expand="">
      {{afterSpray ? (afterSpray | date: 'd-MMM-yy, h:mm:ss a') : 'Click here after spraying'}}
    </ion-button>
    <ion-item>
      <ion-label position="floating">Feedback</ion-label>
      <ion-textarea placeholder="Enter your feedback of farmer" [(ngModel)]="feedback"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Remarks</ion-label>
      <ion-textarea placeholder="Enter any remarks" [(ngModel)]="remarks"></ion-textarea>
    </ion-item>
    <ion-button (click)="submitForm()" expand="block">
      Send Data
    </ion-button>
    <ion-button color="danger" (click)="reset()" expand="block">
     Reset the form!
    </ion-button>
    <!-- <ion-list>
      <ion-list-header>
        <ion-label>Location Coordinates</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          Latitue
        </ion-label>
        <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Longitude
        </ion-label>
        <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Address
        </ion-label>
        <ion-badge color="danger" slot="end">{{address}}</ion-badge>
      </ion-item>
    </ion-list>
    Inserted:
    <pre>
{{lastRecord | json}}
    </pre> -->
  </div>
</ion-content>